<template>
  <div class="about">
    <img alt="Royale Chatbot logo" src="../assets/logo.png">
    <h1>Overview</h1>
    <p>
      Royale Chatbot is a Twitch chatbot with features for increasing audience engagement while streaming
      battle royale games.
    </p>
  </div>
</template>
