<template>
  <div class="dashboard">
    <v-container grid-list-md text-xs-center>
      <v-layout row wrap>
        <v-flex xs12 md6>
          <RandomLocation />
        </v-flex>
        <v-flex xs12 md6>
          <LocationVote />
        </v-flex>
        <v-flex xs12>
          <PlacementGuess />
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import LocationVote from '@/components/LocationVote.vue'
import PlacementGuess from '@/components/PlacementGuess.vue'
import RandomLocation from '@/components/RandomLocation.vue'

export default {
  name: 'dashboard',
  components: {
    LocationVote,
    PlacementGuess,
    RandomLocation
  }
}
</script>
