<template>
  <div class="location-vote">
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Drop Location Vote</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="$store.state.voteTotals"
          class="elevation-1"
          :pagination.sync="pagination"
        >
          <template slot="items" slot-scope="props">
            <td class="text-xs-left">{{ props.item.location }}</td>
            <td class="text-xs-left">{{ props.item.votes }}</td>
          </template>
          <template slot="no-data">
            <v-alert :value="true" color="error" icon="warning">
              No vote results to display. Click the 'New Vote' button to start a vote.
            </v-alert>
          </template>
        </v-data-table>
      </v-card-text>
      <v-card-actions>
        <v-btn flat color="accent" :disabled="$store.state.isLocationVoteOpen" @click="openLocationVote()">New Vote</v-btn>
        <v-btn flat color="accent" :disabled="!$store.state.isLocationVoteOpen" @click="closeLocationVote()">Close Vote</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { client } from '../chat'

export default {
  name: 'location-vote',
  data () {
    return {
      pagination: {
        sortBy: 'votes',
        descending: true
      },
      headers: [
        { text: 'Location', align: 'left', value: 'location' },
        { text: 'Votes', align: 'left', value: 'votes' }
      ]
    }
  },
  methods: {
    openLocationVote () {
      this.$store.dispatch('startLocationVote')
      client.say(
        client.channels[0],
        'Voting for the drop location next round is now open! Use command !locvote [location name] ' +
        '(ex. !locvote Tilted Towers) to vote. Location names are case sensitive.')
    },
    closeLocationVote () {
      this.$store.dispatch('closeVote')
      const result = this.getVoteResult()
      const voteOrVotes = result.votes === 1 ? 'vote' : 'votes'
      if (result.winners.length > 1) {
        client.say(client.channels[0], `There was a tie between the following locations with ${result.votes} ${voteOrVotes}: ${result.winners.join(', ')}`)
      } else if (result.winners.length === 1) {
        client.say(client.channels[0], `The winner of the drop location vote was ${result.winners[0]} with ${result.votes} ${voteOrVotes}`)
      }
    },
    getVoteResult () {
      let maxVote = 0
      let winners = []
      this.$store.state.voteTotals.forEach((result) => {
        if (result.votes > maxVote) {
          maxVote = result.votes
          winners = [result.location]
        } else if (result.votes === maxVote) {
          winners.push(result.location)
        }
      })
      return { votes: maxVote, winners: winners }
    }
  }
}
</script>
