<template>
  <div class="login-form">
    <v-layout align-center justify-center>
      <v-flex xs12 sm8 md4>
        <v-form @submit.prevent="login">
          <v-card class="elevation-12">
            <v-card-text>
              <v-text-field v-model="username" prepend-icon="person" name="username" label="Username" type="text"></v-text-field>
              <v-text-field v-model="token" prepend-icon="lock" name="token" label="Token" id="token" type="text"></v-text-field>
              <v-text-field v-model="channel" prepend-icon="chat" name="channel" label="Channel" type="text"></v-text-field>
              <v-checkbox label="Remember me?" v-model="remember"></v-checkbox>
            </v-card-text>
            <v-card-actions>
              <span class="text-xs-left">Need a token? Get one <a href="https://twitchapps.com/tmi/" target="_blank">here</a></span>
              <v-spacer></v-spacer>
              <v-btn color="primary" type="submit">Login</v-btn>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import { client } from '../chat'

export default {
  name: 'login-form',
  data () {
    return {
      username: '',
      token: '',
      channel: '',
      remember: false
    }
  },
  methods: {
    login () {
      // Define configuration options:
      let opts = {
        options: {
          commandTimeout: 600
        },
        connection: {
          reconnect: true,
          port: 443,
          secure: true
        },
        identity: {
          username: this.username,
          password: this.token
        },
        channels: [
          this.channel
        ]
      }
      client.opts = opts
      client.connect().then(() => {
        this.$store.commit('setUser', this.username)
        this.$router.push('/dashboard')
        if (this.remember) {
          localStorage.details = JSON.stringify({ username: this.username, token: this.token, channel: this.channel })
        }
      }).catch(() => {
        console.log('login failed')
      })
    }
  }
}
</script>
