<template>
  <div class="placement-guess">
    <v-card>
      <v-card-title primary-title>
        <div>
          <h2 class="headline mb-0">Placement Guessing</h2>
        </div>
      </v-card-title>
      <v-card-text>
        <v-container grid-list-md text-xs-center>
          <v-layout row wrap>
            <v-flex xs12 md6>
              <h2>Current Placment Guesses</h2>
              <v-data-table
                :headers="guessTableHeaders"
                :items="$store.state.placementTotals"
                class="elevation-1"
                :pagination.sync="guessTablePagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.place }}</td>
                  <td class="text-xs-left">{{ props.item.guesses }}</td>
                </template>
                <template slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                    No match results to display. Click the 'New Match' button to start taking placement guesses.
                  </v-alert>
                </template>
              </v-data-table>
            </v-flex>
            <v-flex xs12 md6>
              <h2>Placement Guess Leaderboard</h2>
              <v-data-table
                :headers="scoresTableHeaders"
                :items="$store.state.guessScore"
                class="elevation-1"
                :pagination.sync="scoresTablePagination"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-left">{{ props.item.user }}</td>
                  <td class="text-xs-left">{{ props.item.score }}</td>
                </template>
                <template slot="no-data">
                  <v-alert :value="true" color="error" icon="warning">
                    No scores to display. Close out a match to tally scores.
                  </v-alert>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-layout row wrap align-center>
          <v-btn flat color="accent" :disabled="!($store.state.placementGuessStatus === 'READY')" @click="openPlacementGuess()">New Match</v-btn>
          <v-btn flat color="accent" :disabled="!($store.state.placementGuessStatus === 'OPEN')" @click="closePlacementGuess()">Close Guessing</v-btn>
          <span class="place-select">
            <v-text-field
              v-model="place"
              :disabled="!($store.state.placementGuessStatus === 'CLOSED')"
              label="Place"
              type="number"
              v-on:change="floorIt"
            ></v-text-field>
          </span>
          <v-btn
            flat
            color="accent"
            :disabled="!($store.state.placementGuessStatus === 'CLOSED') || place < 1 || place > 100"
            @click="scoreGuessing()"
          >Set Place</v-btn>
        </v-layout>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { client } from '../chat'

export default {
  name: 'placement-guess',
  data () {
    return {
      guessTablePagination: {
        sortBy: 'guesses',
        descending: true
      },
      guessTableHeaders: [
        { text: 'Place', align: 'left', value: 'place' },
        { text: 'Guesses', align: 'left', value: 'guesses' }
      ],
      place: 1,
      scoresTablePagination: {
        sortBy: 'score',
        descending: true
      },
      scoresTableHeaders: [
        { text: 'User', align: 'left', value: 'user' },
        { text: 'Score', align: 'left', value: 'score' }
      ]
    }
  },
  methods: {
    floorIt () {
      this.place = Math.floor(this.place)
    },
    getOverallGuessLeader () {
      let topScore = 0
      let leaders = []
      this.$store.state.guessScore.forEach((playerRecord) => {
        if (playerRecord.score > topScore) {
          topScore = playerRecord.score
          leaders = [playerRecord.user]
        } else if (playerRecord.score === topScore) {
          leaders.push(playerRecord.user)
        }
      })
      return { score: topScore, leaders: leaders }
    },
    openPlacementGuess () {
      this.$store.dispatch('startPlacementGuessing')
      client.say(
        client.channels[0],
        'Guesing for placement next round is now open! Use command !place [1-100] (ex. !place 5) to play')
    },
    closePlacementGuess () {
      this.$store.dispatch('closeGuessing')
    },
    scoreGuessing () {
      let diff = 100
      let matchWinners = []
      this.$store.state.guesses.forEach((guess) => {
        let points = 0
        const guessDiff = Math.abs(guess.place - this.place)

        // Update match leader
        if (guessDiff < diff) {
          diff = guessDiff
          matchWinners = [guess.user]
        } else if (guessDiff === diff) {
          matchWinners.push(guess.user)
        }

        // Assign points based on how close the guess was
        if (guessDiff < 6) {
          if (guessDiff === 0) {
            points = 10
          } else if (guessDiff === 1) {
            points = 5
          } else {
            points = 1
          }
        }

        // Commit the points if any were awarded
        if (points) {
          this.$store.dispatch('addUserScore', { user: guess.user, points: points })
        }
      })

      // Set the message for the results of the match
      let matchMessage = ''
      if (!matchWinners.length) {
        matchMessage = 'Nobody guessed this round.'
      } else if (matchWinners.length === 1) {
        matchMessage = `${matchWinners[0]} had the best guess this match and was off by ${diff}.`
      } else {
        matchMessage = `The following users guessed the closest this match and were off by ${diff}: ${matchWinners.join(', ')}.`
      }

      // get the updated guessing leader
      const overall = this.getOverallGuessLeader()

      // Set the message for the results of the match
      let leaderMessage = ''
      const pointOrPoints = overall.score === 1 ? 'point' : 'points'
      if (!overall.leaders.length) {
        leaderMessage = 'Nobody has scored any points from guessing yet.'
      } else if (overall.leaders.length === 1) {
        leaderMessage = `${overall.leaders[0]} is the overall leader with ${overall.score} ${pointOrPoints}.`
      } else {
        leaderMessage = `The following users are tied for the overall lead with ${overall.score} ${pointOrPoints}: ${overall.leaders.join(', ')}.`
      }

      // Send results message to Twitch chat
      client.say(client.channels[0], `${matchMessage} ${leaderMessage}`)

      // Set guessing status back to READY
      this.$store.dispatch('setGuessingReady')
    }
  }
}
</script>

<style scoped lang="scss">
  .place-select {
    width: 60px;
  }
</style>
