<template>
  <div class="random-location">
    <v-card class="rng-card">
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Random Drop Location</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <div v-if="location">
          Dropping in {{ location }}!
        </div>
        <div v-else>
          Click RNG button to get a random drop location
        </div>
      </v-card-text>
      <v-card-actions>
        <v-btn flat color="accent" @click="getRandomDropLocation()">RNG!</v-btn>
      </v-card-actions>
    </v-card>
  </div>
</template>

<script>
import { client } from '../chat'
import { fortniteDetails } from '../fortnite-details'

export default {
  name: 'random-location',
  data () {
    return {
      location: ''
    }
  },
  methods: {
    getRandomDropLocation () {
      this.location = fortniteDetails.landingZones[Math.floor(Math.random() * fortniteDetails.landingZones.length)]
      client.say(client.channels[0], `RNG has decided on ${this.location} as the drop location!`)
    }
  }
}
</script>

<style scoped lang="scss">
  .random-location {
    height: 100%;
  }
  .rng-card {
    height: 100%;
  }
</style>
