<template>
  <div id="app">
    <v-app>
      <v-navigation-drawer
        fixed
        v-model="drawer"
        app
      >
        <v-list dense>
          <div v-if="!isLoggedIn">
            <v-list-tile @click="pushView('/login')">
              <v-list-tile-action>
                <v-icon color="primary">person</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Login</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </div>
          <div v-else>
            <v-list-tile @click="pushView('/dashboard')">
              <v-list-tile-action>
                <v-icon color="primary">dashboard</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Dashboard</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </div>
          <v-list-tile @click="pushView('/about')">
            <v-list-tile-action>
              <v-icon color="primary">info</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>About</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <div v-if="isLoggedIn">
            <v-list-tile @click="pushView('/logout')">
              <v-list-tile-action>
                <v-icon color="primary">exit_to_app</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>Logout</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </div>
        </v-list>
      </v-navigation-drawer>
      <v-toolbar color="primary" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer" class="secondary--text"></v-toolbar-side-icon>
        <v-toolbar-title>
          <span id="toolbarTitle" class="secondary--text">Royale Chatbot</span>
        </v-toolbar-title>
      </v-toolbar>
      <v-content>
        <v-container fluid>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import router from './router'

export default {
  data: () => ({
    drawer: null
  }),
  computed: {
    // Check Vuex store to determine connection status
    isLoggedIn () {
      return this.$store.state.user
    }
  },
  methods: {
    pushView (path) {
      router.push(path)
    }
  }
}
</script>

<style lang="scss">
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
